<!doctype html>
<html>
  <head>
    <meta property="fb:app_id" content="1806069569655364" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%=ogTitle%>" />
    <meta property="og:description" content="<%=ogDescription%>" />
    <meta property="og:url" content="<%=ogUrl%>" />
    <meta property="og:image" height="200" width="200" content="http://wordcloud.ge/assets/images/share.png"/>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <base href="/">

    <title>civil-servants</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- build:css build.css -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <app></app>

    <div id="fb-root"></div>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId: '1806069569655364',
          cookie: true,
          xfbml: true,
          version: 'v2.8'
        });
      };
    </script>

    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = '//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=1806069569655364';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- build:js build.js -->
    <!-- inject:js -->
    <script src="jspm_packages/system.js"></script>
    <script src="jspm.conf.js"></script>
    <script>System.import('app/app.js');</script>
    <!-- endinject -->
    <!-- endbuild -->
  </body>
</html>
