.footer
  background-color #fff
  // position absolute
  bottom 0
  left 0
  width 100%
  // border-top 1px solid #cecece

  .logos-wrap
    padding-left 20px
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 5px;

    img
      height 55px
      width auto
      // border: 0;

  .fb-btns-wrap>span
    margin 0 auto
    margin-top 5px

  .link
    display inline-block
    color:  #000000;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    font-family: 'Raleway', "BPG Nino Mtavruli" , sans-serif;
    margin-top 32px
    transition all 0.3s linear

    &:hover
      text-decoration none
      color #777

  .footer-text
    display inline-block
    color:  #000000;
    font-size: 11px;
    font-weight: 400;
    font-family: 'Raleway', "BPG Nino Mtavruli" , sans-serif;
    margin-top 16px


  .lang-btn
    border: 1px solid #1c5193;
    border-radius: 0px;
    padding 7px 10px
    margin-top 23px
    display inline-block
    cursor pointer

    &:hover
      background-color rgba(0, 0, 0, .05)

      span
        color: #000

    img
      height 20px
      width auto
      float left
      border 1px solid #ccc
      transition all 0.3s linear

    span
      padding 8px 0 8px 15px
      color:  #777;
      font-size: 13px;
      font-weight: 400;
      font-family: 'Montserrat', "BPG Nino Mtavruli" , sans-serif;
      transition all 0.3s linear


@media screen and (max-width: 768px)

  .footer
    .logos-wrap
      text-align left
      img
        height: 40px;
        margin: 5px;

    .link
      margin-top 0px

    .footer-text
      margin-top 0
