

<div class="footer">

  <div class="col-sm-8 col-xs-9 text-center col-sm-offset-2">
    <div class="logos-wrap">
      <img src="/assets/images/british-embassy.jpg">
      <img src="/assets/images/ukaid-logo.png">
      <img src="/assets/images/geo-logo.jpg">
      <img src="/assets/images/undp-logo.png">
    </div>
  </div>

  <!-- <div class="col-sm-4 hidden-xs text-center">
    <span class="footer-text" ng-bind-html="'T' | translate : vm.info.about.footerDescription"></span>
  </div> -->

  <div class="col-sm-2 col-xs-3 text-right">
    <div class="lang-btn" ng-click="vm.Lang.use('ge')" ng-show="vm.Lang.getCurrent() === 'en'">
      <img src="/assets/images/geo-Flag.png">
      <span class="hidden-xs">
        Georgian
      </span>
    </div>

    <div class="lang-btn" ng-click="vm.Lang.use('en')" ng-show="vm.Lang.getCurrent() === 'ge'">
      <img src="/assets/images/uk-Flag.png">
      <span class="hidden-xs">
        Enghlish
      </span>
    </div>
  </div>

</div>
