.stats-page

  .stats-page-title
    text-align center
    padding 10px 10px
    font-family: 'Montserrat', "BPG Nino Mtavruli" , sans-serif;
    color:  #999;
    font-size: 24px;
    font-weight: 400;
    animation: fadein 2s
    max-width 800px
    margin 0 auto

  .stats-page-wrap
    display table
    height calc(100vh - 170px)

  .stats-inner
    display table-cell
    vertical-align middle
    text-align center
    padding-bottom 10px

    .word-cloud-w
      background-color:  #ffffff;
      box-shadow: 2px 4px 70px 0px rgba(0, 0, 0, 0.13);
      padding 20px
      display inline-block
      width 100%
      height 400px
      margin-bottom 10px

      span
        transition all 200ms ease-in
        transform scale(1)
        cursor pointer

        &:hover
          transform: scale(1.1);
          transition: all 200ms ease-in

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


@media screen and (max-width: 768px)

  .stats-page
    min-height calc(100vh - 146px)

  .stats-page .stats-page-title
    font-size 12px
    padding-left 40px

  .stats-page .stats-inner .word-cloud-w
    height 300px

  .stats-page .stats-page-wrap
    width calc(100% - 50px)
