<div class="stats-page">

  <div class="container stats-page-wrap">
    <div class="stats-inner">

    <div class="stats-page-title">
      <span ng-bind-html="'T' | translate : vm.about.statsDescription"></span>
    </div>

      <div class="word-cloud-w">
      </div>

      <!-- <div class="text-center">
        <div style="display: inline-block;" class="fb-like fb-btns-wrap" data-href="https://www.facebook.com/UNDPGeorgia" data-layout="button" data-action="like" data-size="large" data-show-faces="false"></div>
        <div ng-show="vm.Lang.getCurrent() === 'ge'" style="display: inline-block;" class="fb-share-button" data-href="http://wordcloud.ge/ge" data-layout="button" data-size="large"></div>
        <div ng-show="vm.Lang.getCurrent() === 'en'" style="display: inline-block;" class="fb-share-button" data-href="http://wordcloud.ge/en" data-layout="button" data-size="large"></div>
      </div> -->

    </div>



  </div>

</div>


