<div class="inner-toolbar">
  <div class="md-toolbar-tools" layout="row">
    <span flex="5"></span>
    <span class="page-title">positions</span>
    <span flex></span>
    <div class="search md-whiteframe-4dp" flex="70">
      <md-icon md-font-icon="material-icons icon">search</md-icon>
      <input type="text" class="search-input" aria-label="label" placeholder="ძიება"
             ng-model="vm.query.searchText"
             ng-change="vm.reloadPage(1)"
             ng-model-options="{debounce: 500}"
             lc-autofocus>
    </div>
    <span flex="5"></span>
  </div>
  <div class="md-toolbar-tools page-tools" layout="row" layout-align="end">
    <div class="tools md-whiteframe-4dp" layout="row" flex="70">
      <div class="tool" layout="row" layout-align="left center" flex="50">
        <md-checkbox class="show-all md-primary" aria-label="label"
                     ng-model="vm.query.all"
                     ng-change="vm.reloadPage(1)">
          ყველა
        </md-checkbox>
      </div>

      <lc-pagination class="pagination-wrapp" flex
                     query="::vm.query"
                     num-total="::vm.numTotal"
                     reload-page="vm.reloadPage()"></lc-pagination>
    </div>
    <span flex="5"></span>
  </div>
</div>

<md-content class="page-content" layout-padding>
  <md-button class="md-fab md-primary md-fab-bottom-right add-new-btn"
             ng-click="vm.create($event)">
    <i class="material-icons">add</i>
    <md-tooltip md-direction="top">დამატება</md-tooltip>
  </md-button>

  <md-card>
    <md-list>
      <md-list-item ng-repeat="position in ::vm.data.items">
        <p>{{'T' | translate : position.name}}</p>

        <md-button class="md-icon-button md-primary" aria-label="label"
                   ng-click="vm.update($event, position)">
          <md-icon md-font-icon="material-icons">edit</md-icon>
          <md-tooltip md-direction="top">ცვლილება</md-tooltip>
        </md-button>

        <md-button class="md-icon-button md-primary" aria-label="label"
                   ng-click="vm.destroy($event, position)">
          <md-icon md-font-icon="material-icons">delete</md-icon>
          <md-tooltip md-direction="top">წაშლა</md-tooltip>
        </md-button>

        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-card>
</md-content>
