<md-dialog aria-label="label" style="min-width:400px">
  <form
    name="signUpForm"
    ng-submit="vm.submit(signUpForm)"
    novalidate>

    <md-toolbar aria-label="label">
      <div class="md-toolbar-tools">
        <h2>~~Sign up</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-content class="md-padding">

        <div>
          <md-input-container>
            <label>~~ელ. ფოსტა</label>
            <input
              ng-model="vm.user.email"
              ng-model-options="{ debounce: 300 }"
              type="email"
              name="email"
              validate-unique-email
              required
              aria-label="Email">
              <div ng-messages="signUpForm.email.$error">
                <div ng-message="emailUnique">~~ასეთი ელ. ფოსტა უკვე არსებობს</div>
              </div>
          </md-input-container>
        </div>

        <div>
          <md-input-container>
            <label>~~სახელი, გვარი</label>
            <input
              ng-model="vm.user.fullName"
              type="text"
              required
              aria-label="Full name">
          </md-input-container>
        </div>

        <div>
          <md-input-container>
            <label>~~პაროლი</label>
            <input
              ng-model="vm.user.password"
              type="password"
              required
              aria-label="Password">
          </md-input-container>
        </div>

      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button
        type="submit"
        class="md-raised md-primary button-filled"
        aria-label="Sign up">~~Sign up</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
