<md-dialog class="admin-modal" aria-label="label">
  <form name="positionForm" novalidate
        ng-submit="vm.submit(positionForm.$valid)">

    <md-toolbar aria-label="label">
      <div class="md-toolbar-tools">
        <h2>Position</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-content class="md-padding">
        <div layout="column">
          <div layout="row" class="md-padding">
            <md-input-container flex>
              <label>name ge</label>
              <input type="text" aria-label="label" ng-model="vm.position.name.ge">
            </md-input-container>
          </div>
          <div layout="row" class="md-padding">
            <md-input-container flex>
              <label>name en</label>
              <input type="text" aria-label="label" ng-model="vm.position.name.en">
            </md-input-container>
          </div>
        </div>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" aria-label="label" ng-click="vm.close()">
        Cancel
      </md-button>
      <md-button type="submit" class="md-raised md-primary button-filled" aria-label="label">
        Submit
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
