.survey-page
  display table
  width 100%
  height calc(100vh - 170px)

  .survey-inner
    display table-cell
    vertical-align middle
    text-align center

  .box
    background-color:  #ffffff;
    box-shadow: 2px 4px 43px 0px rgba(0, 0, 0, 0.24);
    max-width: 350px;
    margin 0 auto
    padding 3px
    text-align left

    .question
      color:  #1f1f1f;
      font-size: 15px
      font-weight: 400;
      text-align: left;
      padding 20px 20px 10px 20px
      font-family: 'Raleway', sans-serif;

    .answers-w
      padding 20px
      height 261px
      margin-bottom 5px
      overflow auto


      .answer
        padding-bottom 5px

        input
          outline none

        .animate

          .md-container
            animation-name: blink;
            animation-duration: 0.5s;

            .md-icon
              animation-name: blink;
              animation-duration: 0.5s;

        span
          font-family: 'Raleway', sans-serif;
          padding-left 15px
          color:  #1f1f1f;
          font-size: 15px
          font-weight: 400;
          text-align: left;


    .answers-w::-webkit-scrollbar
      width: 8px;

    .answers-w::-webkit-scrollbar-thumb
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);



    .submit-survey
      outline none
      cursor pointer
      color:  #ffffff;
      box-sizing: border-box;
      background-color:  #1c5193;
      border 2px solid rgba(28, 81, 147, 1);
      width: 100%;
      padding 20px 0
      font-family: 'Montserrat', sans-serif;
      color:  #ffffff;
      font-size: 13px;
      font-weight: 400;
      text-align: center;
      text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.22);
      position relative
      transition all .3s linear

      &:hover
        background-color: rgba(28, 81, 147, 0);
        border-color rgba(28, 81, 147, 1);
        color rgba(28, 81, 147, 1);
        text-shadow none

      .fa
        position absolute
        right 15px
        top 20px
        font-size 20px




@media screen and (max-width: 768px)

  .survey-page
    padding-top 0px !important
    min-height calc(100vh - 146px)


  .survey-page .box
    max-width 430px;
    width calc(100% - 80px)




@keyframes blink {
  from {border-color: rgba(0,0,0,0.54);
        background: #fff}
  to {border-color: #e3224c;
      background: #e3224c;}
}
