<div class="survey-page">
  <div class="survey-inner" ng-show="vm.showQuestion">
    <div class="box">
      <div class="question">
        {{'T' | translate : vm.question.name}}
      </div>
      <div class="answers-w">
        <div ng-repeat="answer in vm.question.answers" class="answer">
          <md-checkbox ng-model="vm.answers[$index]" md-no-ink class="md-accent" ng-class="{'animate': vm.formSubmitted}">
            <span>{{'T' | translate : answer.name}}</span>
          </md-checkbox>
        </div>
      </div>
      <div class="question" style="color: #e3224c;" ng-hide="vm.sufficientAnswersChecked()">
        {{'WARNING' | translate}}
      </div>
      <div class="submit-survey" ng-click="vm.submitAnswers()">
        <span>{{'SUBMIT' | translate}}</span>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="survey-inner" ng-show="vm.showInfo">
    <form name="userForm" novalidate ng-submit="vm.submitInfo(userForm.$valid)" class="box">
      <div class="question">{{'USER_INFO' | translate}}</div>
      <div class="answers-w" style="padding: 0 20px">
        <div layout="row">
          <md-input-container flex>
            <label>{{'GENDER' | translate}}</label>
            <md-select ng-model="vm.user.gender" name="gender" required>
              <md-option ng-value="gender._id" ng-repeat="gender in vm.genders" > {{'T' | translate : gender.name}} </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>{{'AGE_RANGE' | translate}}</label>
            <md-select ng-model="vm.user.ageRange" name="ageRange" required>
              <md-option ng-value="ageRange._id" ng-repeat="ageRange in vm.ageRanges" > {{'T' | translate : ageRange.title}} </md-option>
            </md-select>
          </md-input-container>  
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>{{'POSITION' | translate}}</label>
            <md-select ng-model="vm.user.position" name="position" required>
              <md-option ng-value="position._id" ng-repeat="position in vm.positions" > {{'T' | translate : position.name}} </md-option>
            </md-select>
          </md-input-container>  
        </div>
      </div>
      <div class="submit-survey" ng-click="vm.submitInfo(userForm.$valid)">
        <span>{{'SUBMIT' | translate}}</span>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
    </form>
</div>
