<md-toolbar aria-label="label" class="gallery-toolbar">
  <div class="md-toolbar-tools">
    <h2>გალერეა</h2>
    <span flex></span>
    <md-checkbox
      ng-change="vm.toggleShowAll()"
      ng-model="vm.showAll"
      aria-label="Show all">Show all</md-checkbox>
  </div>
</md-toolbar>


<md-dialog-content class="gallery">
  <md-content class="md-padding">
    <div class="row">
      <div
        ng-repeat="image in vm.images track by $index"
        class="col-xs-6 col-sm-4 col-md-3">
        <div class="thumbnail">
          <img
            ng-click="vm.chooseImage(image)"
            ng-src="{{image.url}}">
          <md-button
            ng-click="vm.destroyImage(image)"
            class="md-fab md-mini md-primary md-raised"
            aria-label="Delete">
            <md-icon md-font-icon="material-icons">delete</md-icon>
          </md-button>
        </div>
      </div>
    </div>
  </md-content>

  <div
    ng-if="!vm.showAll && vm.allImages.length > 0"
    layout="row"
    layout-align="center center">
    <uib-pagination
      ng-change="vm.setPage(vm.page)"
      ng-model="vm.page"
      total-items="vm.allImages.length"
      items-per-page="::vm.limit"
      max-size="5"
      boundary-link-numbers="true"
      previous-text="&lsaquo;"
      next-text="&rsaquo;"
      first-text="&laquo;"
      last-text="&raquo;">
    </uib-pagination>
  </div>
</md-dialog-content>


<md-dialog-actions layout="row">
  <span flex></span>
  <md-button
    ng-click="vm.close()"
    class="md-raised md-primary">გაუქმება</md-button>
  <md-button
    ngf-select="vm.uploadImage($files)"
    ngf-multiple="true"
    ngf-fix-orientation="false"
    accept="image/*"
    class="md-raised md-primary">სურათის ატვირთვა</md-button>
</md-dialog-actions>
