.gallery-toolbar
  border-radius 6px 6px 0 0

.gallery .thumbnail
  position relative
  height 150px

.gallery .thumbnail img
  max-height 140px

.gallery .thumbnail .md-fab
  position absolute
  bottom 0
  right 0
