
<div class="main">
  <lc-header></lc-header>

  <!-- <div class="lines-wrap line-0">
    <div class="line-1">
      <div class="line-2"></div>
    </div>
  </div> -->


  <div class="lines-vertical">
    <div class="line-item-0"></div>
    <div class="line-item-1"></div>
    <div class="line-item-2"></div>
  </div>

  <div class="lines-horizontal">
    <div class="line-item-0"></div>
    <div class="line-item-1"></div>
    <div class="line-item-2"></div>
  </div>


  <ui-view></ui-view>
  <lc-footer info="vm.info"></lc-footer>
</div>

