.main
  min-height 100vh
  background-size cover
  background-position center top
  background-repeat no-repeat
  position relative
  background-color #fff

  .lines-vertical
    position: absolute;
    top: 20px;
    left: 180px;
    width: calc(85vw - 180px);

    div[class^="line-item"]
      position: relative;
      display: block;
      height: 6px;
      width: 100%;
      border: 0;
      margin-bottom: 8px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

      &.line-item-0
        background-color: #214f8f;
      
      &.line-item-1
        background-color: #179799;

      &.line-item-2
        background-color: #e3224c;

  .lines-horizontal
    position: absolute;
    top: 82px;
    left: 20px;
    height: calc(100vh - 125px);
    overflow: hidden;

    div[class^="line-item"]
      position: relative;
      display: block;
      float: left;
      height: 100%;
      width: 6px;
      border: 0;
      margin-right: 8px;
      box-shadow: -1px 0 2px 0 rgba(0,0,0,0.16), 3px 0 2px 0 rgba(0,0,0,0.23);

      &.line-item-0
        background-color: #214f8f;
      
      &.line-item-1
        background-color: #179799;

      &.line-item-2
        background-color: #e3224c;



  .lines-wrap,
  .line-1,
  .line-2
    transition all 0.3s linear
    position absolute
    border-style solid
    border-width 11px 0 0 11px
    width 50vw
    height calc(100vh - 150px)
    top 10px
    left 10px
    border-color #179799
    border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(23, 151, 153, 1)), to(rgba(23, 151, 153, 0.4))) 1 100%;

    .line-1
      top 0px
      left 0px
      border-color #214f8f
      border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(33, 79, 143, 1)), to(rgba(33, 79, 143, 0.4))) 1 100%;

    .line-2
      top 0px
      left 0px
      border-color #e3224c
      border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(227, 34, 76, 1)), to(rgba(227, 34, 76, 0.4))) 1 100%;


  .line-0:after
    content:'';
    width:100%;
    position: absolute;
    left:0;
    top:-11px;
    height: 11px;
    background: #333;
    background: linear-gradient(to right, rgba(23, 151, 153, 1), rgba(23, 151, 153, 0.4))
    transition all 0.3s linear


  .line-1:after
    content:'';
    width:100%;
    position: absolute;
    left:0;
    top:-11px;
    height: 11px;
    background: #333;
    background: linear-gradient(to right, rgba(33, 79, 143, 1), rgba(33, 79, 143, 0.4))
    transition all 0.3s linear

  .line-2:after
    content:'';
    width:100%;
    position: absolute;
    left:0;
    top:-11px;
    height: 11px;
    background: #333;
    background: linear-gradient(to right, rgba(227, 34, 76, 1), rgba(227, 34, 76, 0.4))
    transition all 0.3s linear


@media screen and (max-width: 768px)

  .main .lines-vertical
    top: 6px;
    left: 120px;
    width: calc(100vw - 130px);

  .main .lines-vertical div[class^="line-item"]
    height: 4px;
    margin-bottom: 6px;

  .main .lines-horizontal
    left: 6px;
    top: 70px;

  .main .lines-horizontal div[class^="line-item"]
    width: 4px;
    margin-right: 6px;

  .main
    .lines-wrap,
    .line-1,
    .line-2
      border-width 6px 0 0 6px

    .line-0:after
      top:-6px;
      height: 6px;

    .line-1:after
      top:-6px;
      height: 6px;

    .line-2:after
      top:-6px;
      height: 6px;

