<md-content layout="column">
  <md-tabs class="myTabs" md-dynamic-height md-border-bottom>
    <md-tab label="{{::lang}}" ng-repeat="lang in ::vm.langs">
      <md-content layout="column" class="md-padding">
        <div layout="row" class="md-padding">
          <md-input-container flex>
            <label>Title {{lang}}</label>
            <input ng-model="vm.about.projectName[lang]">
          </md-input-container>
        </div>

        <div layout="row" class="md-padding">
          <text-angular ng-model="vm.about.projectDescription[lang]"></text-angular>
        </div>

        <div layout="row" class="md-padding">
          <text-angular ng-model="vm.about.statsDescription[lang]"></text-angular>
        </div>

        <div layout="row" class="md-padding">
          <text-angular ng-model="vm.about.footerDescription[lang]"></text-angular>
        </div>

        <div layout="row">
          <md-button
            ng-click="vm.submit()"
            type="button"
            class="md-raised md-primary button-filled"
            aria-label="label">
            Submit
          </md-button>
        </div>
      </md-content>
    </md-tab>
  </md-tabs>
</md-content>
