<md-dialog class="admin-modal" aria-label="label">
  <form name="ageRangeForm" novalidate ng-submit="vm.submit(ageRangeForm.$valid)">
    <md-toolbar aria-label="label">
      <div class="md-toolbar-tools">
        <h2>AgeRange</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-content class="md-padding">
        <div layout="column">
          <div layout="row" class="md-padding">
            <md-input-container flex ng-repeat="(langKey, langValue) in vm.langs">
              <label>title {{langValue}}</label>
              <input type="text" required aria-label="label" ng-model="vm.ageRange.title[langValue]">
            </md-input-container>
          </div>
          <div layout="row" class="md-padding">
            <md-input-container flex>
              <label>from</label>
              <input type="number" required aria-label="label" ng-model="vm.ageRange.from">
            </md-input-container>
            <md-input-container flex>
              <label>to</label>
              <input type="number" required aria-label="label" ng-model="vm.ageRange.to">
            </md-input-container>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" aria-label="label" ng-click="vm.close()">
        Cancel
      </md-button>
      <md-button type="submit" class="md-raised md-primary button-filled" aria-label="label">
        Submit
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
