<md-dialog class="admin-modal" aria-label="label">
  <form name="genderForm" novalidate
        ng-submit="vm.submit(genderForm.$valid)">

    <md-toolbar aria-label="label">
      <div class="md-toolbar-tools">
        <h2>Gender</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-content class="md-padding">
        <div layout="column">
          <div layout="row" class="md-padding" ng-repeat="(langKey, langValue) in vm.langs">
            <md-input-container flex>
              <label>name {{langValue}}</label>
              <input type="text" required aria-label="label" ng-model="vm.gender.name[langValue]">
            </md-input-container>
          </div>
        </div>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" aria-label="label"
                 ng-click="vm.close()">
        Cancel
      </md-button>
      <md-button type="submit" class="md-raised md-primary button-filled" aria-label="label">
        Submit
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
