@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");


.header
  overflow auto
  background-color #fff
  // border-bottom 1px solid #cecece

  .links-in-wrap
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    background: #fff;

  .links-wrap
    padding-right 0px
    z-index 3000

    .link
      display inline-block
      font-family: 'Montserrat', "BPG Nino Mtavruli Bold" , sans-serif;
      color #999999
      font-size 15px
      font-weight 400
      text-align left
      padding 30px 15px
      text-decoration none
      text-transform uppercase
      transition all 0.3s linear
      background: #fff;

      &.active,
      &:hover
        color #000000


  .logos-wrap
    // display none
    // padding-left 20px

    img
      width 150px
      padding 15px 5px


@media screen and (max-width: 768px)

  .header .links-in-wrap
    display: inline;

  .header
    .logos-wrap

      img
        width 80px

  .box
    max-width 90%

  .home-page .box .title
    font-size 17px

  .home-page .box .text
    font-size 12px

  .header .links-wrap .link
    font-size 12px
    padding: 30px 5px
    background: transparent;

  .footer .lang-btn
    padding 5px !important
    margin-bottom 10px
    margin-top: 15px

  .survey-page
    padding-top 50px

  .header .links-wrap .link
    padding-top 50px
    padding-bottom 10px
