<div class="header">
  <div class="col-sm-6 col-xs-2">
    <div class="logos-wrap">
      <!-- <img src="/assets/images/british-embassy.jpg">
      <img src="/assets/images/ukaid-logo.png">
      <img src="/assets/images/undp-logo.png"> -->
      <img src="/assets/images/logo.png">
    </div>
  </div>
  <div class="col-sm-6 col-xs-10 text-right links-wrap">
    <div class="links-in-wrap">
      <a class="link" ui-sref="home" ui-sref-active="active">{{'HOME' | translate}}</a>
      <a class="link" ui-sref="survey" ui-sref-active="active">{{'SURVEY' | translate}}</a>
      <a class="link" ui-sref="stats" ui-sref-active="active">{{'STATS' | translate}}</a>
    </div>
  </div>
</div>
