@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css");


.home-page
  display table
  width 100%
  height calc(100vh - 170px)

  .project-title
    font-family: 'Montserrat', "BPG Nino Mtavruli", sans-serif;
    color: #1c5193;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    padding: 20px 80px;
    padding-left: 150px;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);

  .home-inner-wrapper
    display table
    width 100%
    min-height calc(100vh - 400px)

  .home-inner
    vertical-align: bottom;
    display: table-cell;

  .box
    background-color:  #ffffff;
    box-shadow: 2px 4px 43px 0px rgba(0, 0, 0, 0.24);
    width: 430px;
    margin 0 auto
    padding 3px
  
    &.home-box
      padding 0
      box-shadow: none;

    .title
      font-family: 'Montserrat', "BPG Nino Mtavruli" , sans-serif;
      color:  #1c5193;
      font-size: 32px;
      font-weight: 400;
      text-align: center;
      padding 30px 40px

    .text
      font-family: 'Raleway', sans-serif;
      color:  #000000;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      padding 30px 20px 30px 20px

  .take-survey
    cursor pointer
    color:  #ffffff;
    box-sizing: border-box;
    background-color: rgba(28, 81, 147, 1);
    border 2px solid rgba(28, 81, 147, 1);
    width: 100%;
    padding 20px 0
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.22);
    position relative
    transition all .3s linear
    box-shadow: 2px 4px 43px 0px rgba(0, 0, 0, 0.24);

    &:hover
      background-color: rgba(28, 81, 147, 0);
      border-color rgba(28, 81, 147, 1);
      color rgba(28, 81, 147, 1);
      text-shadow none

    .fa
      position absolute
      right 15px
      top 25px
      font-size 20px

  .project-text
    font-family: 'Raleway', sans-serif;
    color:  #000000;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding 30px 20px 30px 20px


@media screen and (max-width: 768px)

  .home-page .box
    max-width 430px;
    width calc(100% - 80px)

  .home-page
    min-height calc(100vh - 146px)

  .home-page .project-title
    padding: 30px 40px;
    font-size: 17px;

  .home-page .take-survey
    font-size: 16px;

  .home-page .take-survey .fa
    top: 20px;

  .home-page .project-text
    font-size: 12px;

  .home-page .project-text
    padding: 30px 40px;

  .home-page .home-inner-wrapper
    min-height: calc(100vh - 440px);
