<div class="home-page">
  <div class="project-title">{{'T' | translate : vm.info.about.projectName}}</div>
  <div class="home-inner-wrapper">
    <div class="home-inner">
      <div class="box home-box">
        <div class="take-survey" ui-sref="survey">
          <span>{{'TAKE_SURVEY' | translate}}</span>
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
        <!-- <div class="text" ng-bind-html="'T' | translate : vm.info.about.projectDescription"></div> -->
      </div>
    </div>
  </div>
  <div class="project-text col-sm-offset-2 col-sm-8" ng-bind-html="'T' | translate : vm.info.about.projectDescription"></div>
</div>
