<md-dialog class="admin-modal" aria-label="label">
  <form name="questionForm" novalidate
        ng-submit="vm.submit(questionForm.$valid)">

    <md-toolbar aria-label="label">
      <div class="md-toolbar-tools">
        <h2>Question</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-content class="md-padding">
        <div layout="column">
          <div layout="row" class="md-padding">
            <md-input-container flex ng-repeat="(langKey, langValue) in vm.langs">
              <label>question {{langValue}}</label>
              <input type="text" aria-label="label" ng-model="vm.question.name[langValue]">
            </md-input-container>
          </div>

          <div layout="row" class="md-padding">
            <md-input-container flex ng-repeat="(langKey, langValue) in vm.langs">
              <label>answer {{langValue}}</label>
              <input type="text" aria-label="label" ng-model="vm.newAnswer.name[langValue]">
            </md-input-container>
            <md-button ng-click="vm.addAnswer($event)" class="md-fab md-primary" style="padding-top: 7px;">
              <i class="material-icons">add</i>
              <md-tooltip md-direction="top">Add Answer</md-tooltip>
            </md-button>
          </div>

          <div layout="row" class="md-padding" ng-repeat="answer in vm.question.answers">
            <md-input-container flex ng-repeat="(langKey, langValue) in vm.langs">
              <label>answer {{langValue}}</label>
              <input type="text" aria-label="label" ng-model="answer.name[langValue]">
            </md-input-container>
            <md-input-container flex="20">
              <label>respondents votes</label>
              <input type="number" readonly disabled aria-label="label" ng-model="answer.respondents.length">
            </md-input-container>
            <md-input-container flex="20">
              <label>admin votes</label>
              <input type="number" ng-model="answer.adminVotes">
            </md-input-container>

            <md-button ng-click="vm.removeAnswer($index)" class="md-fab md-primary" style="padding-top: 7px;">
              <i class="material-icons">remove</i>
              <md-tooltip md-direction="top">Remove Answer</md-tooltip>
            </md-button>
          </div>
        </div>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" aria-label="label" ng-click="vm.close()">
        Cancel
      </md-button>
      <md-button type="submit" class="md-raised md-primary button-filled" aria-label="label">
        Submit
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
