<md-dialog aria-label="label" style="min-width:400px">
  <form
    ng-submit="vm.submit()"
    novalidate>

    <md-toolbar aria-label="label">
      <div class="md-toolbar-tools">
        <h2>~~Sign in</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-content class="md-padding">
        <div>
          <md-input-container>
            <label>~~Email</label>
            <input
              ng-model="vm.user.email"
              type="text"
              name="email"
              aria-label="Email">
          </md-input-container>
        </div>

        <div>
          <md-input-container>
            <label>~~Password</label>
            <input
              ng-model="vm.user.password"
              type="password"
              name="password"
              aria-label="Password">
          </md-input-container>
        </div>

        <p
          ng-if="vm.errorVisible"
          class="error-text">~~Incorrect email or password</p>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <a
        ng-click="vm.openRecoverPasswordModal($event)"
        href="">~~პაროლის აღდგენა</a>
      <md-button
        type="submit"
        id="signIn"
        class="md-raised md-primary button-filled"
        aria-label="Sign in">~~Sign in</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
