<form
  name="recoverPasswordForm"
  ng-submit="vm.submit(recoverPasswordForm)"
  novalidate>

  <md-toolbar aria-label="label" class="recover-password-toolbar">
    <div class="md-toolbar-tools">
      <h2>~~პაროლის აღდგენა</h2>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <md-content class="md-padding">

      <div layout="column">
        <md-input-container>
          <label>~~ელ. ფოსტა</label>
          <input
            ng-model="vm.user.email"
            type="email"
            name="email"
            required
            aria-label="Email">
          <div ng-messages="recoverPasswordForm.email.$error">
            <div ng-message="exists">~~მომხმარებელი ვერ მოიძებნა</div>
          </div>
        </md-input-container>
      </div>

    </md-content>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button
      type="submit"
      class="md-raised md-primary button-filled"
      aria-label="Submit">~~აღდგენა</md-button>
  </md-dialog-actions>
</form>
