<div layout-fill layout="row">
  <md-sidenav
    md-is-locked-open="vm.navOpened"
    class="md-sidenav-left md-whiteframe-1dp"
    md-component-id="left">

    <md-toolbar class="md-whiteframe-1dp">
      <md-toolbar class="md-whiteframe-1dp">
        <div class="md-toolbar-tools"></div>
      </md-toolbar>
    </md-toolbar>

    <md-list role="list" class="md-default-theme">
      <md-subheader class="md-no-sticky">Pages</md-subheader>
      <md-divider></md-divider>

      <md-list-item
        ng-repeat="route in ::vm.routes"
        class="md-1-line ng-scope md-clickable" tabindex="-1">
        <md-button
          ui-sref="{{::route.sref}}"
          ui-sref-active="admin-nav-active"
          class="md-no-style md-button md-default-theme"
          tabindex="0">
          <div class="md-list-item-text">
            <span>{{::route.label}}</span>
          </div>
        </md-button>
        <md-divider></md-divider>
      </md-list-item>

    </md-list>
  </md-sidenav>

  <section layout="column" flex layout-fill>
    <md-toolbar class="md-whiteframe-1dp">
      <div class="md-toolbar-tools">
        <md-button
          ng-click="vm.toggleNavbar()"
          class="md-icon-button"
          aria-label="Toggle navbar">
          <i class="fa fa-bars"></i>
        </md-button>

        <md-button
          type="submit"
          ng-click="vm.goToHome()"
          aria-label="Main">მთავარი</md-button>

        <span flex></span>
        <h2><span>Admin</span></h2>
        <span flex></span>

        <lc-translate></lc-translate>

        <md-button
          ng-click="vm.signOut()"
          type="submit"
          class="md-icon-button"
          aria-label="Sign out">
          <i class="fa fa-sign-out"></i>
          <md-tooltip md-direction="bottom">გასვლა</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>

    <md-content flex class="main-content">
      <div layout="column" layout-fill>
        <ui-view></ui-view>
      </div>
    </md-content>
  </section>

  <span
    us-spinner
    spinner-theme="bigBlue"
    spinner-key="{{::vm.spinnerKey}}">
  </span>
</div>
