default-color = rgb(21,101,192)

.md-admin-list
  padding-top 0px
  padding-bottom 0px

.md-card-sm-wrap
  padding-left 5px !important
  padding-right 5px !important

  .md-card-sm
    margin-bottom 15px

.md-sidenav-left
  width 240px
  background-color #fff

.md-sidenav-left .md-subheader-inner
  padding 10px

.md-sidenav-left md-list-item
  min-height 0

  &:hover
    background-color default-color

    .md-list-item-text
      color #fff !important

  .admin-nav-active
    background-color default-color

    .md-list-item-text
      color #fff !important

  .md-list-item-text
    color default-color !important
    font-weight 900
    text-transform uppercase

.md-sidenav-left .md-button
  margin 0
  line-height 50px
  min-height 50px

.button-filled
  color #ffffff !important

.page-items md-radio-button
  color #ffffff
  font-size 0.8em

.search
  background-color #ffffff
  height 55px

  .icon
    width 50px
    padding-left 15px
    padding-top 3px

  .search-input
    border none
    padding 5px
    height 100%
    font-size 13px
    width calc(100% - 120px)

  .search-input:active,
  .search-input:focus
    outline none

.inner-toolbar
  height 150px
  background-image url('/../../../assets/images/header-bg.png')
  background-size cover
  padding 20px
  padding-top 10px
  position relative
  background-color default-color

  .page-title
    font-size 24px
    margin 0

  .page-tools
    margin-top 16px

    .tools
      background-color #ffffff
      height 60px
      border-bottom 1px solid rgba(0, 0, 0, 0.12)

      .tool
        padding-left 15px

.show-all
  margin-bottom 0
  font-size 12px

.page-title
  margin-top 20px
  margin-left 20px
  color #ffffff

.add-new-btn
  position fixed !important
  color #ffffff !important
  background-color #ef5350 !important

  .material-icons
    margin-top 0px

.main-content
.page-content
  background-color #EEEEEE

  md-card
    padding 0
    margin-bottom 75px

    md-list-item
      padding-left 15px
      padding-right 15px

.pagination-wrapp
  text-align right
  padding-right 15px

  .pagination
    margin 0
    font-size 12px
    margin-top 18px

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover
  background-color default-color
  border-color default-color

.pagination>li>a
  color default-color
  padding: 3px 8px;

.md-button.md-fab.md-fab-bottom-right
  right 30px

.admin-nav-active
  background-color #DAE0E4

md-dialog.admin-modal
  min-width 800px
  min-height 600px
  max-width 800px
  max-height 600px

  &.small-admin-modal
    min-height 0
    height auto
    min-width 550px

  .tab-wrapper
    max-height 430px 
    min-height 430px
    overflow auto

  md-dialog-actions
    border-top: 1px solid rgba(0,0,0,0.12);

md-card.md-default-theme .md-card-image, 
md-card .md-card-image
  height 200px

@media (max-width: 960px)

  .pagination-wrapp

    .pagination
      margin-top 12px

  .inner-toolbar
    height 122px


@media (max-width: 660px)

  .inner-toolbar
    height 138px
