<div class="inner-toolbar">
  <div class="md-toolbar-tools" layout="row">
    <span flex="5"></span>
    <span class="page-title">ageRanges</span>
    <span flex></span>
    <div class="search md-whiteframe-4dp" flex="70">
      <md-icon md-font-icon="material-icons icon">search</md-icon>
      <input
        ng-model="vm.query.searchText"
        ng-change="vm.searchByText()"
        ng-model-options="{debounce: 500}"
        lc-autofocus
        type="text"
        class="search-input"
        placeholder="ძიება"
        aria-label="Search">
    </div>
    <span flex="5"></span>
  </div>
  <div class="md-toolbar-tools page-tools" layout="row" layout-align="end">
    <div class="tools md-whiteframe-4dp" layout="row" flex="70">
      <div class="tool" layout="row" layout-align="left center" flex="50">
        <md-checkbox
          ng-model="vm.query.all"
          ng-change="vm.toggleShowAllPages()"
          class="show-all md-primary"
          aria-label="Show All">
          ყველა
        </md-checkbox>
      </div>

      <lc-pagination
        query="::vm.query"
        num-total="::vm.ageRangesData.numTotal"
        reload-page="vm.reloadPage()"
        class="pagination-wrapp"
        layout-align="right center"
        flex="50">
      </lc-pagination>
    </div>
    <span flex="5"></span>
  </div>
</div>

<md-content class="page-content" layout-padding>
  <md-button
    ng-click="vm.create($event)"
    class="md-fab md-primary md-fab-bottom-right add-new-btn">
    <i class="material-icons">add</i>
    <md-tooltip md-direction="top">დამატება</md-tooltip>
  </md-button>

  <md-card>
    <md-list>
      <md-list-item ng-repeat="ageRange in ::vm.ageRangesData.items">
        <p>{{'T' | translate : ageRange.title}}</p>
        <p>{{ageRange.from}} - {{ageRange.to}}</p>

        <md-button
          ng-click="vm.update($event, ageRange)"
          class="md-icon-button md-primary"
          aria-label="Edit">
          <md-icon md-font-icon="material-icons">edit</md-icon>
          <md-tooltip md-direction="top">ცვლილება</md-tooltip>
        </md-button>

        <md-button
          ng-click="vm.destroy($event, ageRange)"
          class="md-icon-button md-primary"
          aria-label="Delete">
          <md-icon md-font-icon="material-icons">delete</md-icon>
          <md-tooltip md-direction="top">წაშლა</md-tooltip>
        </md-button>

        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-card>
</md-content>
