<div layout="column" layout-align="center center" style="height: 100%;">

  <form ng-submit="vm.submit(loginForm)" novalidate name="loginForm" class="login-form">
    <div ng-show="vm.submitted" class="circular-progress-bar">
      <md-progress-circular md-diameter="100"></md-progress-circular>
    </div>
    <div>
      <md-content class="md-padding" layout="column">
        <div flex layout="row">
          <md-input-container style="width: 100%" class="invalid-alert">
            <label>{{ 'EMAIL' | translate }}</label>
            <input ng-model="vm.user.email" type="text" name="email" aria-label="Email" required>
          </md-input-container>
        </div>
        <div flex layout="row">
          <md-input-container style="width: 100%">
            <label>{{ 'PASSWORD' | translate }}</label>
            <input ng-model="vm.user.password" type="password" name="password" aria-label="Password" required>
          </md-input-container>
        </div>
        <p ng-if="vm.errorVisible" class="error-text">Incorrect email or password</p>
      </md-content>
    </div>

    <md-dialog-actions style="height: 60px;" layout="row">
      <md-button style="width: 100%;" type="submit" class="md-raised md-primary button-filled" aria-label="Sign in">Sign in</md-button>
    </md-dialog-actions>
  </form>

</div>

