<md-content layout="column">
  <md-content flex layout-padding class="page-content" >
    <md-tabs md-selected="vm.page.selectedTab" md-dynamic-height md-border-bottom>
      <md-tab label="About">
        <md-content>
          <lc-about about="vm.info.about" on-submit="vm.updateInfo(data)"></lc-about>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</md-content>
