<div>
  <div class="inner-toolbar">
    <div class="md-toolbar-tools" layout="row">
      <span flex></span>
      <span class="page-title">Admin Settings</span>
      <span flex></span>
    </div>
  </div>

  <md-content flex layout-padding class="page-content" >
    <form name="settingsForm" ng-submit="vm.submit(settingsForm)" layout="column" novalidate>
      <div layout="row">
        <md-input-container flex="40">
          <label>Enter Current Password</label>
          <input name="current" ng-model="vm.updatePasswordSchema.current" type="password" aria-label="label">
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex="40">
          <label>Enter New Password</label>
          <input name="new" ng-model="vm.updatePasswordSchema.new" type="password" aria-label="label">
        </md-input-container>
      </div>
      <div layout="row">
        <md-button type="submit" class="md-raised md-primary button-filled" aria-label="label">Submit</md-button>
      </div>
    </form>
  </md-content>
</div>
